@import "./LoginFrameFont.tw.css"; /* This doesn't work for some god forsaken reason! */


main    {
    @apply flex flex-col items-start; 

            /*
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            */

    @apply gap-8 absolute; 

            /*
            padding: 0px;
            gap: 32px;

            position: absolute;
            */

    @apply w-[327px] h-[416px] left-[24px] top-[178.78px]; 
                 
            /*
            width: 327px;
            height: 416px;
            left: 24px;
            top: 178.78px;
            */
            
    @apply sm:w-[360px] sm:h-[492px] sm:left-[180px] sm:top-[243.78px]; 
        
            /*
            width: 360px;
            height: 492px;
            left: 180px;            /* Could be replaced with 12.5% *//*
            top: 243.78px;
            */
    }


    header  {
            @apply flex flex-col items-center; 

                    /*
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    */

            @apply w-full; 

                    /*
                    padding: 0px;
                    width: 100%;
                    */

            @apply gap-2 h-[78px]; 
                 
                    /*
                    gap: 8px;
                    height: 78px;
                    */

            @apply sm:gap-6 sm:h-[132px]; 
                
                    /*
                    gap: 24px;
                    height: 132px;
                    */

            }

            #MainHeader    {
                            @apply w-full h-[34px]; 
                                    
                                    /*
                                    width: 100%;
                                    height: 34px;
                                    margin: 0px;  Necessary Modification due to implicit margine || why was the margin non-zero?
                                    */ 


                            @apply sm:h-[96px];

                                /*
                                width: 100%;
                                height: 96px;
                                margin: 0px; /* Necessary Modification due to implicit margine || why was the margin non-zero? */
                            
                            }

            #SupportHeader {
                            @apply w-full h-9; 
                                                
                                    /*
                                    width: 100%;
                                    height: 36px;
                                    margin: 0px;  Necessary Modification due to implicit margine || why was the margin non-zero?
                                    */ 

                            @apply sm:h-6;       
                                    /*
                                    width: 100%;
                                    height: 24px;
                                    margin: 0px; /* Necessary Modification due to implicit margine || why was the margin non-zero? */

                            }
                         
                        
    content {
            @apply flex flex-col items-stretch; 

                    /*
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    */

            @apply w-full rounded-xl;                           /******** NEEDS EXAMINATION **********/

                    /*
                    padding: 0px;
                    width: 100%;
                    border-radius: 12px;
                    */

            @apply gap-2;

                    /*
                    gap: 8px;
                    */     

            @apply sm:gap-6;

                    /*
                    gap: 24px;
                    */  
            
            }

            form    {
                    @apply flex flex-col items-stretch w-full; 

                        /*
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        padding: 0px;
                        width: 100%;
                        */
                    
                    @apply gap-8;

                        /*
                        gap: 32px;
                        */

                    @apply sm:gap-5;

                        /*
                        gap: 20px;
                        */

                    }

                    .emailForm     {
                                    @apply flex flex-col items-stretch gap-1.5; 

                                        /*
                                        display: flex;
                                        flex-direction: column;
                                        align-items: stretch;
                                        padding: 0px;
                                        gap: 6px;
                                        margin: 0px;
                                        */

                                    @apply h-[66px]; 

                                        /* height: 66px; /* This information was not necessary */
                                    }

                    .passwordForm  {
                                    @apply flex flex-col items-stretch gap-1.5; 

                                        /*
                                        display: flex;
                                        flex-direction: column;
                                        align-items: stretch;
                                        padding: 0px;
                                        gap: 6px;
                                        margin: 0px;
                                        */

                                    @apply h-[66px]; 
                                    
                                        /* height: 66px; /* This information was not necessary */
                                    }


            .ForgetActionGap        {
                                    @apply flex flex-col items-stretch w-full; 

                                        /*
                                        display: flex;
                                        flex-direction: column;
                                        align-items: stretch;
                                        padding: 0px;
                                        width: 100%;
                                        */

                                    @apply gap-6;

                                        /*
                                        gap: 24px;    
                                        */

                                    }        
            .ActionRowSignUpGap     {
                                    @apply flex flex-col items-stretch w-full; 
                                        /*
                                        display: flex;
                                        flex-direction: column;
                                        align-items: stretch;
                                        padding: 0px;
                                        width: 100%;
                                        */

                                    @apply gap-8;

                                        /*
                                        gap: 32px;    
                                        */
                                    }
                    
            #RowRememberMeForgotPassword 
                    {
                        @apply flex flex-row items-stretch justify-end; 
                        /*
                        display: flex;
                        flex-direction: row;
                        align-items: stretch;
                        justify-content: flex-end;
                        padding: 0px;
                        */

                        @apply sm:justify-between;
                        /*
                        justify-content: space-between;
                        */
                    }

                    #RememberMe {       
                                        @apply hidden; /* display: none; */ 
                                        @apply sm:flex sm:items-center sm:gap-2; /* display: inline; */
                                }

                    #remember {@apply w-3 h-3 bg-[#FFFFFF] rounded-md;}                         /******** NEEDS EXAMINATION **********/

            #Action {
                    @apply flex flex-col items-stretch; 
                    /*
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    */            
                    }

                    .logging         {     
                                    @apply bg-[#2362D7] border-[#2362D7] h-12 rounded-xl;                       /******** NEEDS EXAMINATION **********/

                                    /*
                                    box-sizing: border-box;
                                    
                                    background: #2362D7; 
                                    border: 1px solid #2362D7;
                
                                    
                                    margin: 0;  
                                    height: 48px;
                                    border-radius: 12px;
                                    */
                                    }

    #RowSignUp    
            {
                @apply flex flex-col items-center w-full; 
                /*
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                */

            }



/***********************************************************************************************************/
/**                                                                                                       **/
/**  FONT INFORMATION || FOR SOME REASON FONTS CSS WILL NOT IMPORT || PLEASE KILL ME NOW!!!!!!!!!!!!!!    **/
/**                                                                                                       **/
/***********************************************************************************************************/

#MainHeader    {
                                             
        /* Header 2 || Have No Choice but to use this otherwise it would not look like image */
        font-weight: 600;
        font-size: 30px;
        line-height: 48px;
        /* or 160% */
        
        /* Gray/900 */
        @apply text-gray-900; /* color: #101828; */

        }

#SupportHeader {
          
        /* Text md/Normal || Have No Choice but to use this otherwise it would not look like image */
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        
        /* Gray/500 */
        @apply text-gray-500; /* color: #667085; */
        
        }



label  {
                /* Text sm/Medium */
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height, or 143% */

                /* Gray 4 */
                color: #4C4C4C;;
                }


input           {
                /* Text md/Normal */
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                /* Gray 2 */
                color: #A5A5A5;
                }

#RowRememberMeForgotPassword 
{

    /* Text sm/Medium */
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

}

#RememberMe
{
/* Gray 3 */
color: #787878;
}

#ForgotPassword 
{
/* Gray 3 */
color: #2362D7;
}

#Action {
    /* Text md/Medium */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
       
}

.logging         {     
                /* Text md/Medium */
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                /* White */
                color: #FFFFFF;

                }

#RowSignUp    
{
/* Text sm/Normal */
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/500 */
color: #667085;
}


#RowSignUp  a
{
color: #2362D7;
}

footer  {

/* Text sm/Normal */
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/500 */
@apply text-gray-500; /* color: #667085; */
}
            