
/***********************************************************************************************************/
/**                                                                                                       **/
/**  APP.CSS shall serve as the BASE CODE for CSS || It shall house the most general styles (defaults)    **/
/**                                                                                                       **/
/***********************************************************************************************************/

*
{ /* General Font || Have No Choice but to use this otherwise it would not look like image */
  font-family: 'Inter';
  font-style: normal;
}


body    
{ @apply relative bg-zinc-50 sm:bg-white;     /* Why is this set to relative? */
  @apply w-[375px] sm:w-[1440px];
  @apply h-[815px] sm:h-[1024px];
      /*
      position: relative;
      background: #FAFAFA;
      */
  }

  input           
  {
  @apply px-3.5 py-2.5 gap-2 rounded-lg m-0;
  @apply box-border border-[1px] border-solid border-[#D2D2D2];
      /*
      padding: 10px 14px;
      gap: 8px;
      border-radius: 8px;
      margin: 0px;

      box-sizing: border-box;
      border: 1px solid #D2D2D2; /* This information was not necessary */
  }
